/* License: GNU GPLv3+, Rodrigo Schwencke (Copyleft) */

/* THEME SOMBRE*/

[data-md-color-scheme="slate"] {
  /* HEADERS MASSILIA */
  --h1: #d86363;
  
  --h2: #d86363;
  --h2-line: #db8282;
  --h2-target: #ff1947;

  --h3: #d86363;
  --h3-target: #ff1947;
  --h3-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbLeft-dark.png");
  --h3-left-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbLeftTarget-dark.png");
  --h3-right-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbRight-dark.png");
  --h3-right-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbRightTarget-dark.png");
  
  --h4: #d86363;
  --h4-target: #ff1947;
  --h4-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/main.png");
  --h4-left-target-img: var(--h4-left-img);  

  --h5: #d86363;
  --h5-target: #ff1947;
  /* --h5-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/arrow-dark.png");
  --h5-left-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/arrow-dark-target.png"); */
  --h5-left-img: url("../images/arrow-dark.png");
  --h5-left-target-img: url("../images/arrow-dark-target.png");

/* TABLEAUX */
/* --table-header-background: #f53633; */
--table-header-background: #ef5552;
--table-header-border: #eee;
--table-row-odd-background: #e07977;
/* --table-row-even-background: rgba(172, 172, 172, 0.67); */
/* --table-row-even-background: #1f202083; */
--table-row-even-background: hsla(var(--md-hue),15%,21%,1);
--table-code-background: #1f2020;
--table-link-color: #fff;
--table-row-hover-bgcolor: #1d90ee;

/* CODES entre ``, PAGE NORMALE, HORS CODES DANS TABLEAUX ET HORS CODES SOURCES */
--code-normal: #1f2020;
;

/* ADMONITIONS */
--md-admonition-python-title-background: #3774a7;
--md-admonition-python-border-color: #3c98e4;

/* EN VALEUR MASSILIA DARK*/
--env-background-color: rgba(140,140,150,0.6);
--env-border-color: rgba(190, 190, 190, .7);
--envpink-background-color: deeppink;
--envpink-border-color: rgb(255, 94, 180);

/* ENCADRE MASSILIA DARK */
--enc-color:#fff;
--enc-border-color:#fff;
--enc-box-shadow: 3px 3px 5px #ccc;

/* ROUGE BLEU TABLEAU */
/* --rb-color: #1d90ee; */
--rb-color: #34a4ff;
--inv-rb-color: #e92c29;

/* FLUO */
--fluo-jaune-background-color: #85833f;

/* IMAGE SHADOW */
--img-shadow-box: 5px 5px 10px #fff;
--img-shadow-background-color: #fff;

/* CODE HIGHLIGHT COLOR  */
--md-code-hl-color: rgba(254, 60, 60, 0.23);
--md-typeset-mark-color: rgba(248, 23, 245, 0.89);
}
